/*mobile*/

@media media-type and (max-width: 375){

    body{
        padding: 10;
        margin: 60;
    }
    h1{
        font: size 22px;
    }
    h2{
        font: size 18px;
    }
    h3{
        font: size 15px;
    }

}

